# SELENIUM

In [11]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [12]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [13]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [14]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [17]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [20]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [21]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [22]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [23]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [24]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [25]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experience_required':experience_required})
df

,Job_title,Job_location,Company_name,Experience_required
0,Data Analyst,Bangalore/Bengaluru,Ericsson,3-8 Yrs
1,Finance Tax Data Analyst,Bangalore/Bengaluru,Thomson Reuters,1-4 Yrs
2,Data Analyst (Bi-lingual French),"Bangalore/Bengaluru, Pune, Vadodara",Numerator India Private Limited,0-2 Yrs
3,Sr Clinical data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
4,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs
5,Sr. Business Data Analyst,Bangalore/Bengaluru,Infometry,4-6 Yrs
6,Senior Data Analyst(Power BI/Python),Bangalore/Bengaluru,Societe Generale,3-7 Yrs
7,Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,1-4 Yrs
8,Data Analyst-MDM,Bangalore/Bengaluru,Shell,5-8 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs

# Ques 2 . Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.This task will be done in following steps:

In [26]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [27]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [28]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [29]:
driver.get("https://www.naukri.com/")

In [30]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys('Data Scientist')

In [31]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [32]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [33]:
job_title=[]
job_location=[]
company_name=[]

In [34]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [35]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [36]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [37]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [38]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
2,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
3,Data Scientist / Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Mindtree
4,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
5,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
6,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
9,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)

# Ques 3. You have to use the location and salary filter

In [39]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [40]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [41]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [42]:
driver.get("https://www.naukri.com/")

In [43]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys('Data Scientist')

In [45]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".qsbSubmit"}
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x011A78B3+2193587]
	Ordinal0 [0x01140681+1771137]
	Ordinal0 [0x010541A8+803240]
	Ordinal0 [0x010824A0+992416]
	Ordinal0 [0x0108273B+993083]
	Ordinal0 [0x010AF7C2+1177538]
	Ordinal0 [0x0109D7F4+1103860]
	Ordinal0 [0x010ADAE2+1170146]
	Ordinal0 [0x0109D5C6+1103302]
	Ordinal0 [0x010777E0+948192]
	Ordinal0 [0x010786E6+952038]
	GetHandleVerifier [0x01450CB2+2738370]
	GetHandleVerifier [0x014421B8+2678216]
	GetHandleVerifier [0x012317AA+512954]
	GetHandleVerifier [0x01230856+509030]
	Ordinal0 [0x0114743B+1799227]
	Ordinal0 [0x0114BB68+1817448]
	Ordinal0 [0x0114BC55+1817685]
	Ordinal0 [0x01155230+1856048]
	BaseThreadInitThunk [0x7679FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77517A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77517A6E+238]

In [46]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [47]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [48]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [49]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [50]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [51]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [52]:
df=pd.DataFrame({'Job_title':job_title,'job_location':job_location,'Company_name':company_name,'Experience_required':experience_required})
df

,Job_title,job_location,Company_name,Experience_required
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
2,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
4,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro,11-20 Yrs
5,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix,3-8 Yrs
6,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates,5-8 Yrs
7,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Absolutdata,5-10 Yrs
8,Cloud Datascience Engineer,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Oracle,9-14 Yrs
9,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs

# Ques 4 .  Scrape data of first 100 sunglasses listings on flipkart.com.

In [61]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [62]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [63]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [65]:
driver.get("https://www.flipkart.com/")

In [66]:
designation=driver.find_element(By.CLASS_NAME,'_3704LK')
designation.send_keys('Sunglasses')

In [69]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [70]:
brand_name=[]
products=[]
price_product=[]

In [71]:
brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[:100]:
    brand=i.text
    brand_name.append(brand)

In [75]:
products_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in products_tags[:100]:
    product=i.text
    products.append(product)

In [76]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
for i in price_tags[:100]:
    price=i.text
    price_product.append(price)

In [78]:
print(len(brand_name),len(products),len(price_product))

40 40 90

In [79]:
df=pd.DataFrame({'Brand':brand_name,'Product':products,'Price':price_product})
df

ValueError: All arrays must be of the same length

# Ques 5. Scrape 100 reviews data from flipkart.com for iphone11 phone

In [80]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [81]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [82]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [84]:
driver.get("https://www.flipkart.com/")

In [87]:
designation=driver.find_element(By.CLASS_NAME,'_3704LK')
designation.send_keys('iphone 11')

In [88]:
rating=[]
review_summary=[]
full_review=[]

In [89]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[:30]:
    ratings=i.text
    rating.append(ratings)

In [90]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[:30]:
    review=i.text
    review_summary.append(review)

In [91]:
full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_tags[:30]:
    fullreview=i.text
    full_review.append(fullreview)

In [92]:
df=pd.DataFrame({'Rating':rating,'Review':review_summary,'FullReview':full_review})
df

Empty DataFrame
Columns: [Rating, Review, FullReview]
Index: []

# Scrape data for first 100 sneakers

In [93]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [94]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [95]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [97]:
driver.get("https://www.flipkart.com/")

In [98]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [99]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x011A78B3+2193587]
	Ordinal0 [0x01140681+1771137]
	Ordinal0 [0x010541A8+803240]
	Ordinal0 [0x01088C84+1019012]
	Ordinal0 [0x01086C48+1010760]
	Ordinal0 [0x0108493B+1001787]
	Ordinal0 [0x01083699+997017]
	Ordinal0 [0x01079223+954915]
	Ordinal0 [0x0109D7AC+1103788]
	Ordinal0 [0x01078C04+953348]
	Ordinal0 [0x0109D9C4+1104324]
	Ordinal0 [0x010ADAE2+1170146]
	Ordinal0 [0x0109D5C6+1103302]
	Ordinal0 [0x010777E0+948192]
	Ordinal0 [0x010786E6+952038]
	GetHandleVerifier [0x01450CB2+2738370]
	GetHandleVerifier [0x014421B8+2678216]
	GetHandleVerifier [0x012317AA+512954]
	GetHandleVerifier [0x01230856+509030]
	Ordinal0 [0x0114743B+1799227]
	Ordinal0 [0x0114BB68+1817448]
	Ordinal0 [0x0114BC55+1817685]
	Ordinal0 [0x01155230+1856048]
	BaseThreadInitThunk [0x7679FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77517A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77517A6E+238]

In [100]:
shoe_brand=[]
product_Description=[]
shoe_price=[]

In [101]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[:100]:
    brand=i.text
    shoe_brand.append(brand)

In [102]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags[:100]:
    product=i.text
    product_Description.append(product)

In [103]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[:100]:
    price=i.text
    shoe_price.append(price)

In [104]:
print(len(shoe_brand),len(product_Description),len(shoe_price))

0 0 0

In [105]:
df=pd.DataFrame({'Brand':shoe_brand,'Product':product_Description,'Price':shoe_price})
df

Empty DataFrame
Columns: [Brand, Product, Price]
Index: []

# LAPTOP

In [118]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [119]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [120]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [124]:
driver.get("https://www.amazon.in/")

In [128]:
title_lap=[]
rating_lap=[]
price_lap=[]

In [129]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tags[0:10]:
    title=i.text
    title_lap.append(title)

In [130]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    rating=i.text
    rating_lap.append(rating)

In [133]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    price_lap.append(price)

In [134]:
print(len(title_lap),len(rating_lap),len(price_lap))

10 10 10

In [135]:
df=pd.DataFrame({'Title':title_lap,'Rating':rating_lap,'Price':price_lap})
df

                                               Title Rating     Price
0  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...           55,890
1  Samsung Galaxy Book2 Intel 12th Gen core i7 39...           79,490
2  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...           82,990
3  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           87,990
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           80,990
5  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...           92,390
6  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...         1,07,990
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...           84,990
8  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           89,990
9  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...           59,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location

In [136]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [137]:
driver=webdriver.Chrome(r"C:\Users\hp\Desktop\Fliprobo\chromedriver.exe")

In [138]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [139]:
driver.get("https://www.ambitionbox.com/")

In [140]:
title_job=[]
company_job=[]
location_job=[]

In [141]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tags[0:10]:
    title=i.text
    title_job.append(title)

In [142]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company_tags[0:10]:
    company=i.text
    company_job.append(company)

In [144]:
location_tags=driver.find_elements(By.XPATH,'//div[@class="entity loc"]')
for i in location_tags[0:10]:
    location=i.text
    location_job.append(location)

In [145]:
print(len(title_job),len(company_job),len(location_job))

0 0 0